.vscode/
/node_modules/
/build/
/lib/
/dist/
/docs/
.idea/*
.env

.DS_Store
coverage
*.log
.prettierrc.json
*.local
*.local.ts

src/local/
src/local/ai-promt.md
src/local/print-directory.js
src/local/workflow.local.md


/upload/